@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	Layout = "~/Theme/TasteIt/Main.cshtml";
}

<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-sm-4 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary">
				<form method="get" action="@Url.Content("~/api/Recipe/GetSearch")" id="ingrdientsSearchForm">
					<div class="row">
						<div class="col-md-12">
							<h2>Αναζήτηση</h2>
						</div>
						<div id="ingredients_search" style="width: 100%">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control ingredient-value" placeholder="Υλικό">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
							<input type="hidden" name="ingredientsText" id="ingredients-text" />
								<button class="btn btn-white py-3 px-4" id="add-ingredient" onclick="return false;">
									ΠΡΟΣΘΗΚΗ ΥΛΙΚΟΥ
								</button>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<button class="btn btn-white py-3 px-4" id="btnSearch">
									ΑΝΑΖΗΤΗΣΗ
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-8 wrap-about py-5 ftco-animate img" style="background-image: url(images/about.jpg);">
				<div class="row pb-5 pb-md-0">
					<div class="col-md-12 col-lg-7">
						<div class="heading-section mt-5 mb-4">
							<div class="pl-lg-3 ml-md-5">
								@*<span class="subheading">Σχετικά με εμάς</span>*@
								<h2 class="mb-4">Καλώς ήρθατε στο Smart Cooking</h2>
							</div>
						</div>
						<div class="pl-lg-3 ml-md-5">
							<p>Η εφαρμογή Smart Cooking διαθέτει μεγάλη βάση δεδομένων από συνταγές πρώτης ποιότητας. Σε βοηθάμε να βρεις την κατάλληλη συνταγή με βάση τα υλικά που έχεις στο ψυγείο σου χωρίς να χρειάζεται να σπας το κεφάλι σου.
							Δοκιμάσέ το είναι δωρέαν!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section scripts{
	<script>
		// JQuery
		$(document).ready(function () {

			$("#add-ingredient").click(function () {
				var textBox = "";
				textBox += '<div class="col-md-12">';
				textBox += '<div class="form-group">';
				textBox += '<input type="text" class="form-control ingredient-value" placeholder="Υλικό">';
				textBox += '</div>';
				textBox += '</div>';

				$("#ingredients_search").append(textBox);
			});

			$("#btnSearch").click(function (e) {
				e.preventDefault();
				var list = $("input[class*=ingredient-value]");
				var ingrdientList = [];
				var text = "";

				console.log(list);

				var formData = new FormData();
				for (let i = 0; i < list.length; i++) {
					ingrdientList.push($(list[i]).val());
					text += $(list[i]).val() + '-';
				}

				$("#ingredients-text").val(text);
				location.href = '@Url.Content("~/Recipe/SearchResult?IngredientsText=")' + $("#ingredients-text").val()

			});



			$(document).on("focus", ".ingredient-value", function (e) {
				$(this).autocomplete({
					source: '@Url.Content("~/api/Item/SearchItemByName")'
				});
			});



		});
	</script>
}