@page
@model SmartCooking.Web.Pages.Account.RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Theme/TasteIt/Page.cshtml";
}

<div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
	<strong>Οι κωδικοί δεν ταιριάζουν μεταξύ τους</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form method="post" id="registerForm">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="lead">
					Όνομα Χρήστη
				</label>
				<input type="text" class="form-control" asp-for="User.Username" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="lead">
					Ηλ. Ταχυδρομείο
				</label>
				<input type="email" class="form-control" asp-for="User.Email" />
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="lead">
					Κωδικός Πρόσβασης
				</label>
				<input type="password" class="form-control" asp-for="User.Password" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="lead">
					Επιβεβαίωση Κωδικού Πρόσβασης
				</label>
				<input type="password" class="form-control" id="retypedPassword"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label class="lead">
					Ονοματεπώνυμο
				</label>
				<input type="text" class="form-control" asp-for="User.FamilyName" />
			</div>
		</div>
	</div>


	<div class="row text-right">
		<div class="col-sm-12">
			<button class="btn btn-primary btn-lg" id="registerSubmit">ΕΓΓΡΑΦΗ</button>
		</div>
	</div>

</form>

@section scripts{
	<script>
		$(document).ready(function () {

			$("#registerSubmit").click(function (e) {
				e.preventDefault();
				var password = $("#User_Password").val();
				var retypedPassword = $("#retypedPassword").val();

				if (password != retypedPassword) {
					$(".alert").show();
					return;
				}

				$("#registerForm").submit();

			});
		});
	</script>
}