@page "{itemId:int?}"
@model SmartCooking.Web.Pages.Admin.ItemEditModel
@{
	Layout = "~/Theme/SBAdmin/Main.cshtml";
	ViewData["PageTitle"] = "Επεξεργασία Είδους";
	ViewData["Breadcrumb"] = "Είδος / Επεξεργασία Είδους";
}
<div class="card mb-5">
	<div class="card-content">
		<div class="card-body">
			<button class="btn btn-warning">
				<i class='bx bx-left-arrow-circle' id="itemBack"></i> ΠΙΣΩ
			</button>
			<button class="btn btn-success" id="itemSubmit">
				<i class="fas fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ
			</button>
		</div>
	</div>
</div>

@if (Model.HasError)
{
	<div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
		<strong>@ViewData["Error"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<div class="card">
	<div class="card-content">
		<div class="card-body">
			<form id="itemForm" method="post">
				<div class="form-group">
					<label class="lead">Περιγραφή</label>
					<input type="text" class="form-control" asp-for="Item.Name" />
					<input type="hidden" asp-for="Item.Id" />
				</div>
				<div class="form-group">
					<label class="lead">Κατηγορία</label>
					<select class="form-control" asp-for="Item.ItemCategoryId" asp-items="Model.SelectListItems"></select>
				</div>
			</form>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$(document).ready(function () {
			$("#itemSubmit").click(function (e) {
				e.preventDefault();

				$("#itemForm").submit();
			});

			$("#itemBack").click(function (e) {
				e.preventDefault();

				Swal.fire({
					title: 'Είσαι βέβαιος;',
					text: 'Οι αλλαγές δεν θα αποθηκευτούν. Είσαι σύμφωνος με αυτό;',
					icon: 'warning',
					showCloseButton: true,
					showCancelButton: true,
					confirmButtonText: 'Επιβεβαίωση',
					cancelButtonText: 'Ακύρωση'
				}).then(result => {
					if (result.isConfirmed) {
						location.href = '@Url.Content($"~/Admin/ItemList")';
					}
				});
			});
		});
	</script>
}