@page
@model SmartCooking.Web.Pages.Admin.ItemCategoryListModel
@{
	Layout = "~/Theme/SBAdmin/Main.cshtml";
}

<div class="row">
	<div class="col-sm-12">
		<a href="@Url.Content("~/Admin/ItemCreate")" class="btn btn-success">ΔΗΜΙΟΥΡΓΙΑ</a>
	</div>
</div>