@page
@model SmartCooking.Web.Pages.Admin.ItemCategoryCreateModel
@{
	Layout = "~/Theme/SBAdmin/Main.cshtml";
	ViewData["PageTitle"] = "Δημιουργία Κατηγορία Ειδών";
	ViewData["Breadcrumb"] = "Κατηγορία Ειδών / Δημιουργια Κατηγορία Ειδών";
}

<div class="card mb-5">
	<div class="card-content">
		<div class="card-body">
			<button class="btn btn-warning" id="itemCategoryBack"> 
				<i class='bx bx-left-arrow-circle'></i> ΠΙΣΩ
			</button>
			<button class="btn btn-success" id="itemCategorySubmit">
				<i class="fas fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ
			</button>
		</div>
	</div>
</div>

@if (Model.HasError)
{
	<div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
		<strong>@ViewData["Error"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<div class="card mb-5">
	<div class="card-content">
		<div class="card-body">
			<form method="post" id="itemCategoryForm">
				<div class="form-group">
					<label class="lead">Περιγραφή</label>
					<input type="text" asp-for="ItemCategory.Name" class="form-control" />
				</div>
			</form>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$(document).ready(function () {

			$("#itemCategorySubmit").click(function (e) {
				e.preventDefault();

				$("#itemCategoryForm").submit();
			});

			$("#itemCategoryBack").click(function (e) {
				e.preventDefault();

				Swal.fire({
					title: 'Είσαι βέβαιος;',
					text: 'Οι αλλαγές δεν θα αποθηκευτούν. Είσαι σύμφωνος με αυτό;',
					icon: 'warning',
					showCloseButton: true,
					showCancelButton: true,
					confirmButtonText: 'Επιβεβαίωση',
					cancelButtonText: 'Ακύρωση'
				}).then(result => {
					if (result.isConfirmed) {
						location.href = '@Url.Content($"~/Admin/ItemCategoryList")';
					}
				});
			});
		});
	</script>
}